<%= form_for @auther do |f| %>
    <div class="input-field col s6">
        <%= f.label :publisher, 'Publisher'%>
        <%= f.text_field :publisher%>
    </div>
    <div class="input-field col s6">
        <%= f.label :birthdate, 'Birthdate' %>
        <%= f.text_field :birthdate %>
    </div>
    <div class="input-field col s6">
        <%= f.label :first_name, 'First Name' %>
        <%= f.text_field :first_name %>
    </div>
    <div class="input-field col s6">
        <%= f.label :last_name, 'Last Name' %>
        <%= f.text_field :last_name %>
    </div>
    <div class="input-field col s6">
        <%= f.label :pen_name, 'Pen Name' %>
        <%= f.text_field :pen_name %>
    </div>
    <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
  <% end %>

  