<h1><%= @auther.publisher %> Books</h1>
<%= link_to "New Book", new_book_path(:auther_id => @auther.id), { :class => "button waves-effect waves-light btn" } %>

<br><br>

<div class="row">
  <% @books.each do |book| %>

      <div class="card-panel grey lighten-2 col s4" style="margin: 10px">
        <%= auther.birthdate %>
        <br>
        <strong><%= link_to book.name %></strong>
        <em><%= book.genre %></em>
      </div>
  <% end %>
</div>